.filter-wrapper{
    display: flex;
    flex-direction: column;
}

.filter-title{
    font-weight: 500;
    color:rgb(98, 97, 97);
    padding: 0 20px;
}

.filter-btn-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    transition: background-color 0.3s linear;
    padding: 0 20px;
}

.filter-btn-wrapper:hover{
    background-color: rgba(70, 191, 243, 0.226);
}

.filter-btn-only{
    margin-left: auto;
    border: unset;
    background-color: unset;
    color: rgb(70, 191, 243);
    font-size: 11px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    height: 100%;
}

.w100{
    width: 100%;
    cursor: pointer;
    height: 100%;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.filter-btn-wrapper:hover .filter-btn-only{
    opacity: 1;
    pointer-events:all;
}


.filter-checkbox{
    opacity: 0;
}

.filter-checkbox__label{
    width: 24px;
    height: 24px;
    border: 1px solid rgb(98, 97, 97);
    border-radius: 5px;
    margin-right: 5px;
}

.checked {
    border: 1px solid rgb(70, 191, 243);

}

.gg-check {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    color: rgb(70, 191, 243)
}
.gg-check::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}