.App {
  gap: 50px;
  min-height: 100vh;
  padding: 50px 0px;
  background-color: rgb(242, 245, 251);
}

.app-tickets{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}


.loader-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.app-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1c90d4;
  margin: 0 auto 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

}

.app-content{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
}